**Your first print statement!**

In [ ]:
print("Hello World!")

Hello World!

**Assigning Multiple Values to a Variable**

In [ ]:
a=b=c=30
x,y,z=10,25,30
print (y)
print (a)

25
30

**String Literals Example**

In [ ]:
name1='Anirudh'
name2='Intellipaat'
print(name1)
print(name2)
text1='hello\World'
multiline='''st1
...st2
...st3'''
print(multiline)

Anirudh
Intellipaat
st1
...st2
...st3

**Number Datatype**

In [ ]:
a = 5
# Output: <class 'int’>
print(type(a))
# Output: <class 'float’>
print(type(5.0))
# Output: (8+3j)
c = 5 + 3j
print(c + 3)
# Output: True
print(isinstance(c, complex))

<class 'int'>
<class 'float'>
(8+3j)
True

**Special Literals**

In [ ]:
val1=10
val2=None
print(val1)
print(val2)

10
None

**Assignment Operators**

In [ ]:
a=10
a*=100
b=a*5
print(a)
print(b)

1000
5000

**Comparison Operators**

In [ ]:
a=14
b=11
if a < b:
  print('a is lesser')
print('b is lesser')

b is lesser

**Logical Operators**

In [ ]:
isSunday = True
isHoliday = False

if isHoliday and isSunday:
    print('Sunday is a fun day!!')
else:
    print('Not a holiday!')

Not a holiday!

**Numbers in Python**

In [ ]:
message = 'Hello World'
num = 1234
rate = 13.6
print(type(message)) #return a string
print(type(num)) #return an integer
print(type(rate)) #return a float

<class 'str'>
<class 'int'>
<class 'float'>

**Strings - An Example**

In [ ]:
var1 = 'Hello-World!'
var2 = 'PythonTutorial'

print(var1[2]) # prints the first character in the string `H`
print(var2[0:6]) # prints the substring ‘ytho`

l
Python

**For Construct in Python**

In [ ]:
fruits = ["apple", "banana", "cherry", "Watermelon"]
for z in fruits:
    print(z)

apple
banana
cherry
Watermelon

**While Construct in Python**

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 2

1
3
5

**While with Break statement**

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 4:
    break
  i += 1
print('Broke out of the loop!')

1
2
3
4
Broke out of the loop!

**While with Continue Statement**

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

**Python Strings - Slicing**

In [ ]:
b = "Hello, World!"
print(b[1:6])

ello,

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

orl

**String Lower**

In [ ]:
a = "Hello Intellipaat!"
print(a.lower())

hello intellipaat!

**String Upper**

In [ ]:
a = "Hello Intellipaat!"
print(a.upper())

HELLO INTELLIPAAT!

**String Replace**

In [ ]:
a = "Jello Intellipaat!!!"
print(a)
print(a.replace("J", "H"))

Jello Intellipaat!!!
Hello Intellipaat!!!

**String Concatenation**

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [ ]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

**Tuples**

Creation of a tuple

In [ ]:
ani = ("Python", "Java", "R")
print(ani)

('Python', 'Java', 'R')

**Access Tuple element**

In [ ]:
thistuple = ("Python", "Scala", "R")
print(thistuple[1])

Scala

Check item presence

In [ ]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")
else:
  print("Element not found!!!")

Yes, 'apple' is in the fruits tuple

**Lists**

Creation of a list

In [ ]:
thislist = ["Python", "Java", "R"]
print(thislist)

['Python', 'Java', 'R']

**Accessing Items in a List**

In [ ]:
thislist = ["Python", "Java", "R"]
print(thislist[0])

Python

**Changing the item value**

In [ ]:
thislist = ["Python", "Java", "R"]
thislist[1] = "Scala"
print(thislist)

['Python', 'Scala', 'R']

**Loop through the list**

In [ ]:
thislist = ["Python", "Java", "R", "Scala"]
for x in thislist:
  print(x)

Python
Java
R
Scala

**Check Item existance**

In [ ]:
thislist = ["Python", "Java", "R"]
if "Scala" in thislist:
  print("Yes, 'Python' is in the list")
else:
  print("Element not present!!")

Element not present!!

**List Length**

In [ ]:
thislist = ["Python", "Java", "R", "Scala"]
print(len(thislist))

4

**Appending items to the list**

In [ ]:
thislist = ["Python", "Java", "R"]
thislist.append("ReactJS")
print(thislist)

['Python', 'Java', 'R', 'ReactJS']

**Adding using insert method**

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

**Removing an item from a list**

In [ ]:
thislist = ["Python", "Java", "R"]
thislist.remove("Java")
print(thislist)

['Python', 'R']

**Removing element using pop**

In [ ]:
thislist = ["Python", "Java", "R"]
thislist.pop()
print(thislist)

['Python', 'Java']

**Copying a list**

In [ ]:
thislist = ["Python", "Java", "R"]
mylist = thislist.copy()
print(mylist)

['Python', 'Java', 'R']

**Copying list using list method**

In [3]:
thislist = ["Python", "Java", "R"]
mylist = [*thislist]
# mylist = list(thislist)
print(mylist)

['Python', 'Java', 'R']

**Dictionary in Python**

Creating a dictionary

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

**Change values in dictionary**

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2020
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

**Print values**

In [ ]:
for x in thisdict.values():
  print(x)

Ford
Mustang
2020

**Check key presence**

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "models" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

**Print length**

In [ ]:
print(len(thisdict))

3

**Adding items**

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

**Removing items**

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

**Nested Dictionaries**

In [ ]:
myparent = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(myparent)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

**Sets in Python**

Create a set

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

**Access Items in the set**

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

**Check item presence**

In [ ]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

**Add items to set**

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'orange', 'apple', 'cherry'}

**Length of the set**

In [ ]:
thisset = {"apple", "banana", "cherry","Watermelon"}

print(len(thisset))

4

**Remove an item**

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}