In [1]:
# importing all the neccessary packages
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488493 sha256=8d850ddded477014fde310dac4f387d32d5fcfe6cf0ec03369ea261b716764e8
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [2]:
# importing the SparkSession
from pyspark.sql import SparkSession

# Starting the SparkSession
spark = SparkSession.builder.master("local[*]").appName("PySpark").getOrCreate()

spark

**Question 01**

In [8]:
# Load the csv file

LoanData = spark.read.csv("/content/Loan.csv", inferSchema = True, header = True)

LoanData.printSchema()

root
 |-- Customer_ID: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- Marital Status: string (nullable = true)
 |-- Family Size: integer (nullable = true)
 |-- Income: integer (nullable = true)
 |-- Expenditure: integer (nullable = true)
 |-- Use Frequency: integer (nullable = true)
 |-- Loan Category: string (nullable = true)
 |-- Loan Amount: string (nullable = true)
 |-- Overdue: integer (nullable = true)
 |--  Debt Record: string (nullable = true)
 |--  Returned Cheque: integer (nullable = true)
 |--  Dishonour of Bill: integer (nullable = true)

In [6]:
# Number of loans in each category

LoanData.groupBy("Loan Category").count().orderBy("Count", ascending = False).show()

+------------------+-----+
|     Loan Category|count|
+------------------+-----+
|         GOLD LOAN|   77|
|           HOUSING|   67|
|        AUTOMOBILE|   60|
|        TRAVELLING|   53|
|       RESTAURANTS|   41|
|COMPUTER SOFTWARES|   35|
|          SHOPPING|   35|
|          BUSINESS|   24|
|  EDUCATIONAL LOAN|   20|
|        RESTAURANT|   20|
|           DINNING|   14|
|       ELECTRONICS|   14|
|   HOME APPLIANCES|   14|
|       AGRICULTURE|   12|
|       BOOK STORES|    7|
|          BUILDING|    7|
+------------------+-----+

In [11]:
# Number of people who have taken more than 1 lakh loan

LoanData.filter(LoanData["Loan Amount"] > "1,00,000" ).count()

279

In [10]:
#  Number of people with income greater than 60000 rupees

LoanData.filter(LoanData["Income"] > 60000).count()

198

In [13]:
# Number of people with 2 or more returned cheques and income less than 50000

LoanData.filter((LoanData[" Returned Cheque"] >= 2) & (LoanData["Income"] < 50000)).count()

137

In [14]:
# Number of people with 2 or more returned cheques and are single

LoanData.filter((LoanData[" Returned Cheque"] >= 2) & (LoanData["Marital Status"] == "SINGLE")).count()

111

In [18]:
# Number of people with expenditure over 50000 a month

LoanData.filter(LoanData["Expenditure"] > 50000).count()

6

**Question 02**

In [20]:
# Load the Credit_Card.csv Dataset

CCData = spark.read.csv("/content/Credit_Card.csv", inferSchema = True , header = True)

CCData.printSchema()

root
 |-- RowNumber: integer (nullable = true)
 |-- CustomerId: integer (nullable = true)
 |-- Surname: string (nullable = true)
 |-- CreditScore: integer (nullable = true)
 |-- Geography: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tenure: integer (nullable = true)
 |-- Balance: double (nullable = true)
 |-- NumOfProducts: integer (nullable = true)
 |-- IsActiveMember: integer (nullable = true)
 |-- EstimatedSalary: double (nullable = true)
 |-- Exited: integer (nullable = true)

In [21]:
# Number of members who are eligible for credit cards. [NOTE: People having credit score greater than 700 are eligible

CCData.filter(CCData["CreditScore"] > 700).count()

3116

In [22]:
# Number of members who are eligible and active in the bank

CCData.filter((CCData["CreditScore"] > 700) & (CCData["IsActiveMember"] == 1)).count()

1637

In [24]:
# Number of credit card users in Spain

CCData.filter(CCData["Geography"] == "Spain").count()

2477

**Question 03**

In [26]:
# Load the Transaction.csv Dataset

TrnxData = spark.read.csv("/content/Transaction.csv", inferSchema = True, header = True)

TrnxData.printSchema()

root
 |-- Account No: string (nullable = true)
 |-- TRANSACTION DETAILS: string (nullable = true)
 |-- VALUE DATE: string (nullable = true)
 |--  WITHDRAWAL AMT : double (nullable = true)
 |--  DEPOSIT AMT : double (nullable = true)
 |-- BALANCE AMT: double (nullable = true)

In [28]:
# Count of transaction on every account

TrnxData.groupBy("Account No").count().show()

+-------------+-----+
|   Account No|count|
+-------------+-----+
|409000438611'| 4588|
|     1196711'|10536|
|     1196428'|48779|
|409000493210'| 6014|
|409000611074'| 1093|
|409000425051'|  802|
|409000405747'|   51|
|409000362497'|29840|
|409000493201'| 1044|
|409000438620'|13454|
+-------------+-----+

In [29]:
# Maximum withdrawal amount of each account

TrnxData.groupBy("Account No").max(" WITHDRAWAL AMT ").show()

+-------------+---------------------+
|   Account No|max( WITHDRAWAL AMT )|
+-------------+---------------------+
|409000438611'|                2.4E8|
|     1196711'|        4.594475464E8|
|     1196428'|                1.5E8|
|409000493210'|                1.5E7|
|409000611074'|             912000.0|
|409000425051'|               3.54E8|
|409000405747'|                1.7E8|
|409000362497'|        1.413662392E8|
|409000493201'|            2500000.0|
|409000438620'|                4.0E8|
+-------------+---------------------+

In [30]:
# Minimum withdrawal amount of each account

TrnxData.groupBy("Account No").min(" WITHDRAWAL AMT ").show()

+-------------+---------------------+
|   Account No|min( WITHDRAWAL AMT )|
+-------------+---------------------+
|409000438611'|                  0.2|
|     1196711'|                 0.25|
|     1196428'|                 0.25|
|409000493210'|                 0.01|
|409000611074'|                120.0|
|409000425051'|                 1.25|
|409000405747'|                 21.0|
|409000362497'|                 0.97|
|409000493201'|                  2.1|
|409000438620'|                 0.34|
+-------------+---------------------+

In [31]:
# Maximum deposit amount of each account

TrnxData.groupBy("Account No").max(" DEPOSIT AMT ").show()

+-------------+------------------+
|   Account No|max( DEPOSIT AMT )|
+-------------+------------------+
|409000438611'|          1.7025E8|
|     1196711'|             5.0E8|
|     1196428'|     2.119594422E8|
|409000493210'|             1.5E7|
|409000611074'|         3000000.0|
|409000425051'|             1.5E7|
|409000405747'|           2.021E8|
|409000362497'|             2.0E8|
|409000493201'|         1000000.0|
|409000438620'|           5.448E8|
+-------------+------------------+

In [32]:
# Minimum deposit amount of each account

TrnxData.groupBy("Account No").min(" DEPOSIT AMT ").show()

+-------------+------------------+
|   Account No|min( DEPOSIT AMT )|
+-------------+------------------+
|409000438611'|              0.03|
|     1196711'|              1.01|
|     1196428'|               1.0|
|409000493210'|              0.01|
|409000611074'|            1320.0|
|409000425051'|               1.0|
|409000405747'|             500.0|
|409000362497'|              0.03|
|409000493201'|               0.9|
|409000438620'|              0.07|
+-------------+------------------+

In [33]:
# Sum of balance in every bank account

TrnxData.groupBy("Account No").sum("BALANCE AMT").show()

+-------------+--------------------+
|   Account No|    sum(BALANCE AMT)|
+-------------+--------------------+
|409000438611'|-2.49486577068339...|
|     1196711'|-1.60476498101275E13|
|     1196428'| -8.1418498130721E13|
|409000493210'|-3.27584952132095...|
|409000611074'|       1.615533622E9|
|409000425051'|-3.77211841164998...|
|409000405747'|-2.43108047067000...|
|409000362497'| -5.2860004792808E13|
|409000493201'|1.0420831829499985E9|
|409000438620'|-7.12291867951358...|
+-------------+--------------------+

In [36]:
# Number of transaction on each date

TrnxData.groupBy("VALUE DATE").count().orderBy("count", ascending = False).show()

+----------+-----+
|VALUE DATE|count|
+----------+-----+
| 27-Jul-17|  567|
| 13-Aug-18|  463|
|  8-Nov-17|  402|
|  7-Oct-17|  382|
| 10-Jul-18|  374|
| 12-Dec-17|  367|
| 12-Sep-18|  365|
|  9-Aug-18|  360|
| 19-Sep-17|  358|
| 16-Mar-17|  353|
| 10-Sep-18|  344|
| 14-Jul-17|  333|
|  7-Mar-18|  319|
| 11-Oct-18|  303|
| 22-Aug-17|  301|
|  9-Jan-18|  299|
|  9-Oct-18|  297|
| 20-Apr-18|  296|
|  9-Jul-18|  292|
|  7-Apr-18|  291|
+----------+-----+
only showing top 20 rows

In [41]:
# List of customers with withdrawal amount more than 1 Lakh

TrnxData.select("Account No","TRANSACTION DETAILS", " WITHDRAWAL AMT ").filter(TrnxData[" WITHDRAWAL AMT "] > 100000).show(truncate = False)

+-------------+--------------------------------+----------------+
|Account No   |TRANSACTION DETAILS             | WITHDRAWAL AMT |
+-------------+--------------------------------+----------------+
|409000611074'|INDO GIBL Indiaforensic STL01071|133900.0        |
|409000611074'|INDO GIBL Indiaforensic STL04071|195800.0        |
|409000611074'|INDO GIBL Indiaforensic STL10071|143800.0        |
|409000611074'|INDO GIBL Indiaforensic STL11071|331650.0        |
|409000611074'|INDO GIBL Indiaforensic STL12071|129000.0        |
|409000611074'|INDO GIBL Indiaforensic STL13071|230013.0        |
|409000611074'|INDO GIBL Indiaforensic STL14071|367900.0        |
|409000611074'|INDO GIBL Indiaforensic STL15071|108000.0        |
|409000611074'|INDO GIBL Indiaforensic STL17071|141000.0        |
|409000611074'|INDO GIBL Indiaforensic STL22071|206000.0        |
|409000611074'|INDO GIBL Indiaforensic STL02081|242300.0        |
|409000611074'|INDO GIBL Indiaforensic STL04081|113250.0        |
|409000611074'|INDO GIBL Indiaforensic STL07081|206900.0        |
|409000611074'|INDO GIBL Indiaforensic STL08081|276000.0        |
|409000611074'|INDO GIBL Indiaforensic STL09081|171000.0        |
|409000611074'|INDO GIBL Indiaforensic STL11081|189800.0        |
|409000611074'|INDO GIBL Indiaforensic STL14081|271323.0        |
|409000611074'|INDO GIBL Indiaforensic STL16081|200600.0        |
|409000611074'|INDO GIBL Indiaforensic STL17081|176900.0        |
|409000611074'|INDO GIBL Indiaforensic STL18081|150050.0        |
+-------------+--------------------------------+----------------+
only showing top 20 rows