In [2]:
import findspark
findspark.init()
findspark.find()

'C:\\Program Files\\spark\\spark-3.4.1-bin-hadoop3'

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("WithColumn").master("local[2]").getOrCreate()

In [4]:
data=[
    ('Sagar','12','3','2'),
    ('Shiva','13','4','3'),
    ('Shekhar','10','6','4'),
    ('Samruddhi','1','12','23'),
    ('Sanjana','23','3','97'),
    ('Sagar','12','3','2'),
    ]

In [5]:
df=spark.createDataFrame(data).toDF('name','day','month','year')
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- day: string (nullable = true)
 |-- month: string (nullable = true)
 |-- year: string (nullable = true)

In [6]:
from pyspark.sql.functions import make_date,col,when
from pyspark.sql.types import IntegerType

rdd=df\
    .withColumn('year',col('year')\
    .cast(IntegerType()))\
    .withColumn('year',when(col('year')<24,col('year')+2000)\
    .when(col('year')<100,col('year')+1900)\
    .otherwise((col('year'))))\
    .withColumn('doj',make_date(col('year'), col('month'), col('day')))\
    .drop('year','month','day')\
    .dropDuplicates()

In [7]:
rdd.show()

+---------+----------+
|     name|       doj|
+---------+----------+
|  Shekhar|2004-06-10|
|    Shiva|2003-04-13|
|    Sagar|2002-03-12|
|Samruddhi|2023-12-01|
|  Sanjana|1997-03-23|
+---------+----------+

In [8]:
rdd.printSchema()

root
 |-- name: string (nullable = true)
 |-- doj: date (nullable = true)